{% extends "base.twig" %}
{% block content %}
    <h1>PiWeather</h1>
    <p>
    Temperature: <b>{% if temperature %}{{temperature}}{% else %}N/A{% endif %} &deg;C</b><br/>
    Humidity: <b>{% if humidity %}{{humidity}}{% else %}N/A{% endif %} %</b><br/>
    Pressure: <b>{% if pressure %}{{pressure}}{% else %}N/A{% endif %} hPa</b>
    </p>
    <small>This web application is running on a Raspberry Pi 3 Model B.</small>
{% endblock %}
